body{
    background-image: url(planta.jpg);
    background-size: 100vw 100vh; /*para que la imagen siempre tenga el 100% de la ventana*/
    background-attachment: fixed; /*para que la imagen quede fija en el scroll*/
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    width: 100%;
}
#header{
    height: 200px;
    background-color: #324C7C;
    display: flex;
    align-items: center;
}
footer{
    padding: 30px;
    background-color: #324C7C;
    margin-top: 250px;

}
.fondo{
    width: 100%;
}
.redesSoc{
    padding: 20px;
    width: 200px;
}
.logo-principal{
    width: 500px;
    margin: auto;
}
.recuadroFooter{
    border-top: solid 5px #399917;
    border-bottom: solid 5px #399917;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recuadroFooter a{
    text-decoration: none;
    color: #6d8fce;
}
.redondo{
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: solid 4px #399917;
    width: 150px;
    height: 150px ;
    border-radius: 50%;
    margin-top: 40px;
    text-align: center;
}
.btn_material{
    background-color: white;
    border: solid 4px #399917;
    width: 110px;
    height: 110px ;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 50px;  
}

.aviso_retiro{
    background-image: url(aviso_de_retiro.png);
    /*margin-left: 50px;*/
}
.lista_materiales{
    background-image: url(lista_de_materiales.png);
    margin-left: 50px;
}
.lista_cartonero{
    background-image: url(listado_cartoneros.png);
    margin-left: 400px;
}
.listado_materiales{
    background-image: url(listado_de_materiales.png);
    /*margin-left: 550px;*/
}
.recuadroError{
    padding: 10px;
    background-color:#A8CF45;
    font-size: 20px;
    color: #324C7C;
}
.btn-volver{
    background-color: #399917;
    font-size: 15px;
    border-radius: 20px;
    padding: 8px;
    margin-top: 10px;
}
.btn-volver a {
    text-decoration: none;
    color: white
}
.circulo_requerimientos{
    width: 15rem;
	height: 15rem;
    border: solid 4px #399917;
	border-radius: 50%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    margin:0px auto;
    margin-top: 20px;
    padding:3%;
    font-size: 1.3em;
}
.contFormAviso {
    display: flex;
    justify-content: center;
}
.formInputsAviso {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.formInputsAviso .input {
    width: 400px;
    padding: 3px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #ffffff8c;
    border: 3px solid #399917;
    border-radius: 8px;
}
.titleAvisoDeRetito {
    text-align: center;
    color: #399917;
}
.formInputsAviso .btn-agregar {
    width: 120px;
}
.formInputsAviso p{
    font-size: 12px;
    width: 300px;
    color: rgb(207, 206, 206);
    background-color: #324C7C;
    padding: 4px;
    border-radius: 8px;
}
.btnSolicitud {
    display: flex;
    justify-content: center;
}
.notFound .redondo{
    width: 300px;
    height: 300px;
    font-size: 30px;
    color: #324C7C;
    display: flex;    
    align-items: center;
    justify-content: center;
}
.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addMaterial{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addMaterial form{
    margin-bottom: 20px;
}
.addMaterial form div {
    padding: 10px;
    color: white;
    font-weight: bold;
}
.addMaterial h1{
    color: #399917;
}
#formAddMat input{
    margin-left: 10px;
    padding: 5px;
    border: solid 3px #399917;
    background-color: #ffffff8c;
    border-radius: 10px;
}
.tablaMateriales{
    padding: 10px;
    margin: 20px;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.table {
    padding: 5px;
    margin: 10px;
    border: #324C7C 2px solid;
    color:#324C7C;
    padding: 5px;
    border-collapse: collapse;
}
th {
    border: #324C7C 2px solid;
    padding: 4px;
    background-color:#A8CF45;
}
td {
    border: #324C7C 1px solid;
    padding: 4px;
    background-color: white;
}
.btn-agregar{
    margin-left: 20px;
    background-color: #399917;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    padding: 8px;
    margin-top: 5px;
}
.btn-agregar a {
    text-decoration: none;
    color: white
}

.materiales_aceptados{
    display:flex;
    justify-content: center;
    align-items: center;
}

.carton{
    background-image: url(carton.png);
    margin-left: 400px;
}
.plastico{
    background-image: url(plastico.png);
    margin-left: 50px;
}
.lata{
    background-image: url(lata.png);
    margin-left: 50px;
}
.nombre_requerimiento{
    font-size: 2em;
    font-weight: bold;
    color: #399917;
}
.eliminar_definitivamente{
    font-size: 20px;
    width: 700px;
    color: rgb(207, 206, 206);
    background-color: #324C7C;
    padding: 4px;
   
}
